.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: white;
}
 
#img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blueviolet;
}